
{% load static %}





<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'dashboard' %}">
      <img src="{% static 'Images/vpn.png' %}" alt="No Logo" height="50px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'addvpn' %}">AddVpn</a>
        </li>
        
        
      </ul>
      <form class="d-flex">
        <a class="" aria-current="page" href="{% url 'signout' %}" id="logoutBtn" style="text-decoration: none;">Logout</a>
      </form>
    </div>
  </div>
</nav>